<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
    <package name="tk.puncha.models"/>
  </typeAliases>
  <mappers>
    <mapper resource="mybatis/mappers/ownerMapper.xml"/>
    <mapper resource="mybatis/mappers/petMapper.xml"/>
    <mapper resource="mybatis/mappers/petTypeMapper.xml"/>
  </mappers>
</configuration>