<data-toaster></data-toaster>

<a class="btn btn-xs btn-primary" href data-ng-click="$ctrl.createPet()">
  <i class="fa fa-plus fa-2x"></i> Add new pet
</a>

<div class="card-columns m-t-1">
  <div class="card" data-ng-repeat="pet in $ctrl.pets">
    <div class="card-block">
      <h4 class="card-title">{{pet.name}}</h4>
      <p class="card-text"><i class="fa fa-user"></i> Owned by:
        <a href="/owners/{{pet.owner.id}}">{{pet.owner.firstName}} {{pet.owner.lastName}}</a>
      </p>
      <p class="card-text"><i class="fa fa-calendar"></i> Birthday: {{pet.birthDate}}</p>
      <p class="card-text"><i class="fa fa-paw"></i> Type: {{pet.type.name}}</p>
      <p class="card-text" data-ng-repeat="visit in pet.visits">
        <i class="fa fa-calendar-o"></i> {{visit.visitDate}} visit: {{visit.description}}
      </p>
    </div>
    <div class="card-block">
      <a class="btn btn-xs btn-success" href data-ng-click="$ctrl.viewPet(pet)">View</a>
      <a class="btn btn-xs btn-primary" href data-ng-click="$ctrl.editPet(pet)">Edit</a>
      <a class="btn btn-xs btn-danger" href data-ng-click="$ctrl.deletePet(pet)">Delete</a>
    </div>
  </div>
</div>

<data-pet-view-modal
    pet-id="{{$ctrl.petViewModal.petId}}"
    visibility="$ctrl.petViewModal.visibility"
    on-visibility-changed="$ctrl.petViewModal.onVisibilityChanged(visibility)"
></data-pet-view-modal>


<data-pet-edit-modal
    pet-id="{{$ctrl.petEditModal.petId}}"
    visibility="$ctrl.petEditModal.visibility"
    on-visibility-changed="$ctrl.petEditModal.onVisibilityChanged(visibility)"
    on-saved="$ctrl.petEditModal.onSaved(pet)"
></data-pet-edit-modal>

<!--<div data-ng-include="'pet-list/pet-view-modal.template.html'"></div>-->
<!--<div data-ng-include="'pet-list/pet-edit-modal.template.html'"></div>-->

