<h3>New Owner</h3>
<hr/>
<form #theForm="ngForm" novalidate (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label class="col-lg-2 col-md-2 col-xs-4 control-label">First name</label>
    <div class="col-lg-3 col-md-4 col-xs-8"
         [class.has-danger]="shouldShowErrorAlert(firstName)"
         [class.has-success]="firstName.valid">
      <input #firstName="ngModel" name="firstName"
             required [(ngModel)]="owner.firstName"
             class="form-control"
             [class.form-control-danger]="shouldShowErrorAlert(firstName)"
             [class.form-control-success]="firstName.valid">
      <div class="form-control-feedback"
           [hidden]="!shouldShowErrorAlert(firstName)">
        First name should not empty!
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-2 col-md-2 col-xs-4 control-label">Last name</label>
    <div class="col-lg-3 col-md-4 col-xs-8"
         [class.has-danger]="shouldShowErrorAlert(lastName)"
         [class.has-success]="lastName.valid">
      <input #lastName="ngModel" name="lastName"
             required [(ngModel)]="owner.lastName"
             class="form-control"
             [class.form-control-danger]="shouldShowErrorAlert(lastName)"
             [class.form-control-success]="lastName.valid">
      <div class="form-control-feedback" [hidden]="!shouldShowErrorAlert(lastName)">Last name should not empty!</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-2 col-md-2 col-xs-4 control-label">Address</label>
    <div class="col-lg-3 col-md-4 col-xs-8"
         [class.has-danger]="shouldShowErrorAlert(address)"
         [class.has-success]="address.valid">
      <input #address="ngModel" name="address"
             required [(ngModel)]="owner.address"
             class="form-control"
             [class.form-control-danger]="shouldShowErrorAlert(address)"
             [class.form-control-success]="address.valid">
      <div class="form-control-feedback" [hidden]="!shouldShowErrorAlert(address)">Address should not empty!</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-2 col-md-2 col-xs-4 control-label">City</label>
    <!-- this field doesn't require validation, so we show
     "success" mark if user touches it. -->
    <div class="col-lg-3 col-md-4 col-xs-8" [class.has-success]="city.touched">
      <input #city="ngModel" name="city"
             class="form-control"
             [(ngModel)]="owner.city"
             [class.form-control-success]="city.touched">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-2 col-md-2 col-xs-4 control-label">Telephone</label>
    <!-- this field doesn't require validation, so we show
     "success" mark if user touches it. -->
    <div class="col-lg-3 col-md-4 col-xs-8" [class.has-success]="telephone.touched">
      <input #telephone="ngModel" name="telephone"
             class="form-control"
             [(ngModel)]="owner.telephone"
             [class.form-control-success]="telephone.touched">
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="theForm.form.invalid">Submit</button>
    <a routerLink=".." class="btn btn-secondary">Cancel</a>
  </div>
</form>