<nav class="navbar navbar-dark bg-inverse navbar-full m-b-1">
  <button class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" data-target="#collapsingNavbar">
    <i class="fa fa-bars"></i>
  </button>

  <div id="collapsingNavbar" class="collapse navbar-toggleable-sm">
    <div class="navbar-brand hidden-sm-down m-r-1">
      <a data-ui-sref="welcome"><img src="/resources/images/spring-pivotal-logo.png"/></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item h3 m-r-1"><a class="nav-link" routerLink="/welcome" routerLinkActive="active"><i
          class="fa fa-user"></i> Welcome</a></li>
      <li class="nav-item h3 m-r-1"><a class="nav-link" routerLink="/owners" routerLinkActive="active"><i
          class="fa fa-user"></i> Owners</a></li>
      <li class="nav-item h3 m-r-1"><a class="nav-link" routerLink="/pets" routerLinkActive="active"><i
          class="fa fa-paw"></i> Pets</a></li>

      <li class="nav-item h3 dropdown pull-xs-right">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-html5 fa-spin"></i> Versions
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item h4" href="/">Jsp</a>
          <a class="dropdown-item h4" href="/ng1/index.html">AngularJs1</a>
          <a class="dropdown-item h4" href="/ng2/index.html">Angular2</a>
        </div>
      </li>

    </ul>
  </div>
</nav>